

# ignore hidden files produced by Mac OS:
.DS_Store

# ignore environment variables (for future usage)
.env

# ignore cached files from python:
__pycache__


# ignore cached files from pytest (for future testing):
.pytest_cache
